<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "io.github.heitorchang.scmcalc"
        versionCode = "12" 
        version     = "0.1.2" >

  <!-- versionCode is optional and Android only -->

  <name>Scheme Calculator</name>

  <description>
    Compute simple mathematical functions in Scheme syntax
  </description>

  <author href="http://heitorchang.github.io/" email="heitorchang@gmail.com">
    Heitor Chang
  </author>

  <platform name="android" />

  <preference name="android-windowSoftInputMode" value="stateAlwaysHidden" />
</widget>
