body {
    font-size: 1.0em;
    font-family: sans-serif;
}

#singleLineCode {
    font-size: 1.0em;
    width: 90%;
}

.largeTextButton {
    font-size: 1.0em;
}

.smallTextButton {
    font-size: 0.6em;
}

.keypadRow {
    display: table-row;
}

.keypadWrapper {
    display: table;
    height: 100%;
}

.keypadButton {
    width: 16vw;
    height: 16vw;
    float: left;

    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bs-console {
    font-size: 1.0em;
}

.credits {
    font-size: 0.5em;
}
